<!DOCTYPE html>
<html>
<head>
  <title>WascRg</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WASC RG</a>
    </div>
    <div class="navbar-form navbar-right">
      <div class="form-group">
        <% if user_signed_in? %>
	 Signed in as <%= current_user.email %>. Not you? 
	 <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
	<% else %>
	 <%= link_to 'Sign up', new_user_registration_path %> or <%= link_to 'Sign in', new_user_session_path %>
	<% end %>
      </div>
    </div>
  </div>
</div>
<div style="padding-top:50px">
<div class="container">
<%= yield %>
</div>
</div>
</body>
</html>
