<p id="notice"><%= notice %></p>

<p>
  <strong>Course num:</strong>
  <%= @course.course_num %>
</p>

<p>
  <strong>Course title:</strong>
  <%= @course.course_title %>
</p>

<p>
  <strong>Units:</strong>
  <%= @course.units %>
</p>

<p>
  <strong>Program:</strong>
  <%= @course.program.description %>
</p>

<p>
  <strong>Teacher:</strong>
  <%= @course.teacher.full_name %>
</p>

<p>
  <strong>Semester:</strong>
  <%= @course.semester.name %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
