<h1>Start#index</h1>


<p><b>These are the views for our app</b></p>

<br><%= link_to 'This Page',  start_index_path %>


<p><b>These are the default views rails generated:</b></p>

<br><%= link_to 'Courses',  courses_path %>
<br><%= link_to 'Outcomes', outcomes_path %>
<br><%= link_to 'Programs', programs_path %>
<br><%= link_to 'Students', students_path %>
<br><%= link_to 'Teachers', teachers_path %>
<br><%= link_to 'Semesters', semesters_path %>
<p>Find me in app/views/start/index.html.erb</p>
