<%= form_for(@ipa) do |f| %>
  <% if @ipa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ipa.errors.count, "error") %> prohibited this ipa from being saved:</h2>

      <ul>
      <% @ipa.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :letter %><br>
    <%= f.text_field :letter %>
  </div>
  <div class="field">
    <%= f.label :outcome_id %><br>
    <%= f.text_field :outcome_id %>
  </div>
  <div class="field">
    <%= f.label :course_id %><br>
    <%= f.text_field :course_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
