<%= form_for(@path) do |f| %>
  <% if @ipa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ipa.errors.count, "error") %> prohibited this ipa from being saved:</h2>

      <ul>
      <% @ipa.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :letter %><br>
    <%= f.collection_select :letter, ['I', 'P', 'A'], :to_s, :to_s %>
  </div>
  <div class="field">
    <%= f.label :outcome_id %><br>
    <%= f.collection_select :outcome_id, Outcome.all, :id, :objective_letter %>
  </div>
  <div class="field">
    <%= f.label :course_id %><br>
    <%= f.collection_select :course_id, Course.all, :id, :course_num %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
