<p id="notice"><%= notice %></p>

<p>
  <strong>Letter:</strong>
  <%= @ipa.letter %>
</p>

<p>
  <strong>Outcome:</strong>
  <%= @ipa.outcome.objective_letter %>
</p>

<p>
  <strong>Course:</strong>
  <%= @ipa.course.course_num %>
</p>

<%= link_to 'Edit', edit_ipa_path(@ipa) %> |
