<p id="notice"><%= notice %></p>

<p>
  <strong>Corse work:</strong>
  <%= CourseWork.find(@grade.course_work_id).name %>
</p>

<p>
  <strong>Student:</strong>
  <%= Student.find(@grade.student_id).full_name %>
</p>

<p>
  <strong>Value:</strong>
  <%= @grade.value %>
</p>

<%= link_to 'Edit', edit_grade_path(@grade) %> |
