<%= form_for(@path) do |f| %>
  <% if @course_work.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course_work.errors.count, "error") %> prohibited this course_work from being saved:</h2>

      <ul>
      <% @course_work.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :course_id %><br>
    <%= f.collection_select :course_id, Course.all, :id, :course_number_title %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
